<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
    <div class="container mt-5">
        <h2>新增项目</h2>
        <form method="post">
            <div class="form-group">
                <label for="name">项目名称:</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="client_name">客户名称:</label>
                <input type="text" class="form-control" id="client_name" name="client_name" required>
            </div>
            <div class="form-group">
                <label for="scale">项目规模:</label>
                <input type="number" class="form-control" id="scale" name="scale" required>
            </div>
            <div class="form-group">
                <label for="start_date">开始日期:</label>
                <input type="date" class="form-control" id="start_date" name="start_date" value="{{ today }}" required>
            </div>
            <div class="form-group">
                <label for="location">项目地点:</label>
                <input type="text" class="form-control" id="location" name="location" required>
            </div>
            <div class="form-group">
                <label for="sales_person">销售人员:</label>
                <input type="text" class="form-control" id="sales_person" name="sales_person" required>
            </div>
            <div class="form-group">
                <label for="stage">项目阶段:</label>
                <select class="form-control" id="stage" name="stage" required>
                    <option value="1" selected>立项中|初步沟通</option>
                    <option value="2">立项中|提交立项申请</option>
                    <option value="3">已立项|编制解决方案</option>
                    <option value="4">已立项|编制设计方案</option>
                    <option value="5">已立项|编制招投标参数</option>
                    <option value="6">招投标|编制参数</option>
                    <option value="7">招投标|已挂网</option>
                    <option value="8">招投标|等待结果</option>
                    <option value="9">已中标|已公示</option>
                    <option value="10">已中标|已获取中标通知书</option>
                    <option value="11">已中标|签署合同</option>
                    <option value="12">已完成|转入项目实施</option>
                </select>
            </div>
            <div class="form-group">
                <label for="owner">项目负责人:</label>
                {% if session['is_admin'] %}
                    <select class="form-control" id="owner" name="owner" required>
                        {% for user in users %}
                            <option value="{{ user.id }}" {% if user.id == session['user_id'] %}selected{% endif %}>{{ user.username }}</option>
                        {% endfor %}
                    </select>
                {% else %}
                    <input type="hidden" id="owner" name="owner" value="{{ session['user_id'] }}">
                    <input type="text" class="form-control" value="{{ session['username'] }}" disabled>
                {% endif %}
            </div>
            <div style="width: 200px; margin: 0 auto;">
                <button type="submit" class="btn btn-primary">添加项目</button>
            </div>

        </form>
    </div>
{% endblock %}