{% extends "base.html" %}

{% block content %}
    <div class="container mt-5">
       <h2 style="text-align: center;">新增用户</h2>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class="flashes">
              {% for message in messages %}
              <li>{{ message }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
            <form method="post" class="mx-auto" style="width: fit-content;">
                <div class="form-row d-flex align-items-center mb-3">
                    <div class="col-auto">
                        <label for="username" class="col-form-label">用户名:</label>
                    </div>
                    <div class="col-auto">
                        <input type="text" class="form-control" id="username" name="username" required style="width: 300px;">
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary">添加</button>
                    </div>
                </div>
            </form>
    </div>
{% endblock %}