{% extends "base.html" %}

{% block content %}
    <div class="container mt-5 mx-auto" style="max-width: 100%;">
        <form action="" method="get" class="mb-3 d-flex justify-content-between">
            <div>
                <label for="show_completed">显示已完成项目:</label>
                <input type="checkbox" id="show_completed" name="show_completed" {% if show_completed %}checked{% endif %}>
                <button type="submit" class="btn btn-secondary">筛选</button>
            </div>
            <div>
                <a href="{{ url_for('add_project') }}" class="btn btn-primary mb-3">创建项目</a>
                <a href="{{ url_for('export_projects_to_excel') }}" class="btn btn-dark mb-3">导出项目信息到 Excel</a>
            </div>
        </form>
        <table class="table table-striped" style="table-layout: fixed; width: 100%;">
            <thead>
                <tr>
                    <th style="width: 6%; text-align: center;">序号</th>
                    <th style="width: 20%; text-align: center;">名称</th>
                    <th style="width: 12%; text-align: center;">规模</th>
                    <th style="width: 18%; text-align: center;">阶段</th>
                    <th style="width: 20%; text-align: center;">最近更新</th>
                    <th style="width: 12%; text-align: center;">更新日期</th>
                    <th style="width: 17%; text-align: center;">操作</th>
                </tr>
            </thead>
            <tbody>
                {% for project in projects %}
                <tr>
                    <td style="width: 6%; text-align: center;">{{ project.serial_nmber }}</td>
                    <td style="width: 20%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{ project.name }}</td>
                    <td style="width: 12%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;text-align: center;">{{ project.scale }}</td>
                    <td style="width: 18%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;text-align: center;">{{ project.stage }}</td>
                    <td style="width: 20%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{ project.update_content | default('暂无更新', true) }}</td>
                    <td style="width: 12%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;text-align: center;">{{ project.update_date }}</td>
                    <td style="width: 17%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;text-align: center;">
                        <a href="{{ url_for('update_project', project_id=project.id) }}" class="btn btn-info">更新</a>
                        <a href="{{ url_for('project_details', project_id=project.id) }}" class="btn btn-success">详情</a>

                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
