{% extends "base.html" %}

{% block content %}
    <div class="container mt-5">
        <form action="" method="get" class="mb-3 d-flex justify-content-between">
            <div>
                <label for="show_completed">显示已完成项目:</label>
                <input type="checkbox" id="show_completed" name="show_completed" {% if show_completed %}checked{% endif %}>
                <button type="submit" class="btn btn-secondary">筛选</button>
            </div>
            <div>
                <a href="{{ url_for('add_project') }}" class="btn btn-primary mb-3">创建项目</a>
            </div>
        </form>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>名称</th>
                    <th>客户名称</th>
                    <th>规模</th>
                    <th>阶段</th>
                    <th>最新更新内容</th>
                    <th>最新更新日期</th>
                    <th>负责人</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {% for project in projects %}
                <tr>
                    <td>{{ project.name }}</td>
                    <td>{{ project.client_name }}</td>
                    <td>{{ project.scale }}</td>
                    <td>{{ project.stage }}</td>
                    <td>{{ project.update_content | default('暂无更新', true) }}</td>
                    <td>{{ project.update_date }}</td>
                    <td>{{ project.owner_username }}</td>
                    <td>
                        <a href="{{ url_for('project_details', project_id=project.id) }}" class="btn btn-success">详情</a>
                        <a href="{{ url_for('edit_project', project_id=project.id) }}" class="btn btn-warning">编辑</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
